{
    "env": {
        "node": true,
        "browser": true,
        "jquery": true
    },

    "rules": {
        "no-underscore-dangle": 0,
        "global-strict": [2, "always"],
        "quotes": [2, "single"],
        "strict": [2, "global"],
        "new-cap": 0,
        "no-new": 0
    }
}
